.filmsSectionHeader{
  position: absolute;
  top:0;
  height: 500px;
  width: 100vw;
  background-image: url("../../assets/headerBackgroundImage.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
