.pageDescriptionContainer {
  color: #ffffff;
  letter-spacing: -0.02em;
  font-style: normal;
}

.pageDescriptionTitle {
  width: 612px;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  margin: 36px 0;
}

.pageDescriptionText {
  width: 586px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
