.containerLogo {
  width: 72px;
  height: 72px;
  left: calc(50% - 72px / 2 - 588px);
  top: 160px;
  background: #f7cf71;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
