.topRatedCategory {
  position: absolute;
  top: 597px;
  left: 65px;
  margin-top: 10px;
}

.popularCategory {
  position: absolute;
  top: 1099px;
  left: 65px;
  margin-top: 10px;
}

.upcomingCategory {
  position: absolute;
  top: 1601px;
  left: 65px;
  margin-top: 10px;
}
